---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <hr/>

  <div class="entry">
    {{ content }}
  </div>

  {% if page.tweet %}
    <hr/>
    <span style="font-size:14px;padding-right:1em">SHARE</span>
    <div>
      <a class="twitter-share-button" 
          href="https://twitter.com/intent/tweet?text={{page.tweet}}&via={{site.footer-links.twitter}}">
          Tweet</a>
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share" data-url="{{page.url}}"></script>
    </div>
  {% endif %}
  <hr/>

  <div class="PageNavigation">
    <h2>Keep Reading</h2>
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">{{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.title}}</a>
    {% endif %}
  </div>

  <hr/>

  {% include disqus.html %}
</article>
